
<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101167937);</script>
<script async src="//static.getclicky.com/js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134353766-1"></script>
<script>
  window['ga-disable-{{ site.google_analytics }}'] = window.doNotTrack === "1" || navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1";
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134353766-1');
</script>
